.navbar {
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h1 {
    color: white;
    font-size: 24px;
    margin: 0;
    text-align: center;
}
